/* Hide the default radio button */
input[type="radio"] {
    display: none;
  }
  
  /* Custom radio button style */
  input[type="radio"] + label::before {
    content: '';
    width: 20px;
    padding: 4px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #D7B56D; /* Light gray color */
    display: inline-block;
    margin-right: 8px;
    transition: all 0.3s ease;
  }
  
  /* On checked state, change color of the custom radio button */
  input[type="radio"]:checked + label::before {
    background-color:#062237 ; /* Green color when checked */
    border-color: #062237; /* Green border when checked */
  }
  
  /* Optional: Change the color when hovering */
  input[type="radio"]:hover + label::before {
    border-color:#D7B56D ; /* Blue border on hover */
  }
  