@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color:  #F2F3F5;
    overflow-x: hidden;
}
.container{
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    
   
}
@media(max-Width:1024px){
    .container{
        padding: 0 5px 0 5px 0;
    }
}
